@model IEnumerable<DoAnWeb.Areas.Admin.Models.HoaDon>


@foreach (var item in Model)
{
    <div style="display:flex;">

        <div style="flex:3;">
            <table style="border-bottom:1px solid #d5d5d5; margin-top:0px;">
                <tbody>

                    <tr>
                        @*1 don hang co nhieu san pham, ko show anh dc :v*@
                        <td style="width:150px;padding:20px 0px;">@item.NgayMua</td>
                        <td style="width:450px;padding:20px 0px;">@item.DiaChi</td>
                        <td style="width:170px;padding:20px 0px;text-align:right;">@item.SDTKH</td>
                        <td style="width:200px;padding:20px 0px;text-align:right;">@item.ThanhToanOnline.TenThe</td>
                        <td style="width:200px;padding:20px 0px;text-align:right;">@item.TongTien VND</td>
                    </tr>
                </tbody>
            </table>
            <div style="display:flex;margin-bottom:20px;">
                @if (item.TrangThai < 5)
                {
                    <button class="delete" style="margin-left:460px;margin-right:5px;" onclick="xoa(@item.MaHD, @item.TrangThai)">Hủy đơn hàng</button>
                }
                @if(item.TrangThai == 6)
                {
                    <button class="btn btn-primary" style="margin-left:460px;margin-right:5px; background-color: forestgreen" onclick="xacnhan(@item.MaHD)">Đã nhận hàng</button>
                }
                <button class="btn btn-primary"><a href="@Url.Action("DetailHistory", new { id = item.MaHD })">Chi tiết đơn hàng</a></button>
            </div>
        </div>
    </div>
}
<script>
    function xoa(id,tt) {
        $.ajax({
            url: "@Url.Action("xoahd")",
            type: 'POST',
            data: {
                'id': id,
                'tt': tt
            },
            success: function (result) {
                $('div#unconfimredd').html(result);
            }
        })
    }

    function xacnhan(id) {
        $.ajax({
            url: "@Url.Action("nhanhang")",
            type: 'POST',
            data: {
                'id': id,
            },
            success: function (result) {
                $('div#unconfimredd').html(result);
            }
        })
    }

</script>
