@model DoAnWeb.Areas.Admin.Models.ThuongHieu

@{
    ViewBag.Title = "Create";
}

<h3 style="margin:34px 165px;">Tạo mới</h3>

<html>
<head>
    <style>
        .col-md-10 {
            margin: 15px 0px;
        }

        .form-horizontal {
            margin-left: 47px;
        }

        .form-group {
            font-size: 17px;
        }

        .form-control {
            width: 730px;
            height: 24px;
        }

        .btn btn-default {
            width: 50px;
            height: 24px;
        }

        input.btn.btn-default {
            height: 35px;
            width: 119px;
            background: #405ffb;
            border: none;
            font-size: 15px;
            color: white;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div style="margin-top:40px;margin-left:120px;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Tên thương hiệu
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="display:flex;">
                    <div class="form-group" style="flex:1;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo mới" class="btn btn-default" />
                        </div>
                    </div>
                    <div style="flex:1;text-align:center;margin-top:30px;">
                        @Html.ActionLink("Trở về", "Index")
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

